@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mini Soccer League</h1>
    <p class="lead">Welcome to the home of the mini soccer league...</p>
    <p><a href="http://full-time.thefa.com/Index.do?league=6725292" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>